<html>
	<head>
		<title>NodeWiki</title>
	</head>
	<body>
		<h1>Welcome to NodeWiki</h1>
		<p><a href="page/new">Create a new page</a><br>
		<a href="page">See recent pages</a></p>
		<footer>
			<small>&copy; Time on server: <%= serverTime  %></small>
		</footer>
	</body>

</html>
